<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/QandA.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Find the Answers.</h1>
                            <span class="subheading">Cut Through the Noise.  One Question at a Time.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <h1>Enter Your Search Terms</h1>
                            <p>Enter at least one, but no more than five search terms.  A term may be a phrase like 'functional currency' or 'Section 351'.  Capitalization does not matter.  Avoid using punctuation.</p>
                            <form action="/display/results" method="POST">
                                <div class="form-floating">
                                    <input class="form-control" id="first_term" type="text"  placeholder="Enter First Term Here" data-sb-validations="required" name="first_term"/>
                                    <div class="invalid-feedback" data-sb-feedback="title:required">At least one search term is required.</div> 
                            </div>
                                <div class="form-floating">
                                    <div class="form-floating">
                                        <input class="form-control" id="second_term" type="text" placeholder="Second Term" name="second_term"/>
                                        <div class="invalid-feedback" data-sb-feedback="title:required">Please re-enter your term.</div>
                                    </div>                    
                                </div>
                                <div class="form-floating">
                                    <div class="form-floating">
                                        <input class="form-control" id="third_term" type="text" placeholder="Third Term" name="third_term"/>
                                        <div class="invalid-feedback" data-sb-feedback="title:required">Please re-enter your term.</div>
                                    </div>                    
                                </div>
                                <div class="form-floating">
                                    <div class="form-floating">
                                        <input class="form-control" id="fourth_term" type="text" placeholder="Fourth Term" name="fourth_term"/>
                                        <div class="invalid-feedback" data-sb-feedback="title:required">Please re-enter your term.</div>
                                    </div>                    
                                </div>
                                <div class="form-floating">
                                    <div class="form-floating">
                                        <input class="form-control" id="fifth_term" type="text" placeholder="Fifth Term" name="fifth_term"/>
                                        <div class="invalid-feedback" data-sb-feedback="title:required">Please re-enter your term.</div>
                                    </div>                    
                                </div>
                                <br />
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <!-- Scripts-->
        <%- include('layouts/scripts'); -%>
    </body>
</html>